@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin:0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.logo {
    display: flex;
    align-items: center; 
}

.menu {
    display: flex;
    align-items: center; 
}

nav li {
 list-style: none;
 margin: 0;
 padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #928e92;
    transition: 0.3s;
}

nav .active a, 
nav a:hover {
    background: #43b2e6; 
    color: #fff; 
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../img/img1.jpg');
    background-position: center;
    background-size: cover; /*A imagem se ajusta ao tamanho da tela*/
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner-headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-headline h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner-headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner-options {
    height: 210px;
    display: flex;
    font-size: 12px;
}

.banner1, 
.banner2, 
.banner3 {
    flex: 1; /*Abreviação de flex grow, flex basis e flex shrink. Revisar suas funcionalidades*/
    color: #fff;
    padding: 20px;
}

.banner1 {
    background: #41b3e5;
}

.banner2 {
    background:#0384ce;
}

.banner3 {
    background:#3156a4;
}

.banner-title {
    font-size:21px;
    margin-bottom: 10px;
}

.banner-description {
    margin-top:20px;
    margin-bottom: 20px;
    line-height: 20px
}

.banner-options a {
    display: inline-block; /*Revisar para que serve o Display: block*/
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.day1, 
.day2,
.day3 {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid  #cdcdcd;
    justify-content: space-between; 
    line-height: 20px;
}

.line1 {
    border-color:#6e90d4;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.widget-title-text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget-title-bar {
    width: 50px;
    height: 2px;
    background: #68c0e6;
    margin-top: 10px;
} 

.flex {
    display:flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 250px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}

article .news-data {
    display: flex;
}

article .news-posted-at {
    background: #3156a4;
    color: #fff;
    font-size:12;
    padding: 10px;
    margin-right: 2px;
}

article .news-comments {
    background: #41b2e8;
    color: #fff;
    font-size:12;
    padding: 10px;
}

article .news-thumbnail {
    margin-top: 30px;
}

article .news-thumbnail img {
    width: 100%;
    height: auto;
}

article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .news-resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top:30px;
    min-width: 250px;
}

.box-item {
    flex: auto;
    width: 130px;
    height: 130px;
    background:#03a1de;
}

.box-dep {
    margin-top: 60px;
}

.container-contacts {
    border-top: 1px solid #cdcdcd;
}

.contact-1,
.contact-2,
.contact-3 {
    display: flex;
    border-bottom: 1px solid #cdcdcd;
}

.contacts-appointment {
    color: #5c5c5c;
}

.icon-1 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: #cdcdcd;
    align-self: center;
}


footer {
    background: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer-menu {
    display: flex;
}

.fm-1, 
.fm-2,
.fm-3 {
    flex: 1;
    color: #fff;
    padding: 20px;
    font-size: 12px;
}

.fm-1 {
    background: #41b3e5;
}

.fm-2 {
    background:#0384ce;
}

.fm-3 {
    background:#3156a4;
}

.footer-area {
    display: flex;
    color: #fff;
}

.footer-areaitem {
    flex: 1;
    color: #fff;
}

.flexColumn {
    flex-direction: column;
}

footer .widget-title-text {
    color: #fff;
}

.footer-copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.footer-desc {
    color:#5c5c5c; 
    font-size: 13px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

}

.contact-item1,
.contact-item2 {
    line-height: 5px;
    color: #5c5c5c; 
}

.contact-item2 {
    align-self: end;
}

.footer-social {
    display: flex;
    margin-top: 20px;
    gap: 6px;
}

.social-item {
    width: 30px;
    height: 30px;
    background: #313131;
}

.latest-post {
    display: flex;
    justify-content: space-between;
}

.widtget-nav {
    display: flex;
    gap: 3px;
    margin-right:30px;
}

.nav-item {
    border: 1px solid #2b2b2b;
    padding: 5px;
    align-self: center;
}

.latest-post-body {
    display: flex;
    font-size: 13px;
    color:  #5c5c5c; ;
}

.desc-date {
    font-size: 11px;
    color: #3d8096;
}


footer .footer-areaitem {
    margin-right: 15px; 
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mn-line {
    height: 3px;
    background: #41b3e5;
}

@media(max-width: 600px) {

    .banner-headline h1 {
        font-size: 55px;
        padding: 20px;
    }
    .banner-headline h2 {
        font-size: 17px;
        padding: 20px;
    }

    .banner-options {
        height: auto; /*Função ativada para remover a sobreposição do section em cima do banner*/
        flex-direction: column;
    }

   .container {
    flex-direction: column;
   
   }

   #geral .container {
    padding-left: 20px;
   }

    article {
        min-width: 500px;
    }

   .flex {
    flex-wrap: wrap; 
   }

   .box {
    margin-right: 20px;
   }

   #banner {
    height: auto; 
   }

   .footer-menu {
    flex-direction: column;
   }

   .footer-area {
    flex-direction: column;
    padding: 20px;
   }

   .footer-contact {
    justify-content: space-around;
   }

   .footer-copy {
    padding-left: 20px;
   }

   header {
    height: auto;
   }

   header .container {
    flex-direction: row;
   }

   nav ul {
    flex-direction: column;
    display: none;
   }
   .logo {
    padding-left: 20px;
   }

   .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

   #banner {
    height: auto;
    background-position: top;
    background-size: auto;
   }
}




