
body {
    margin: 0;
      
}

.container {
    width: 100vw;
    height: 100vh;
}

.flex-items {
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}

@media screen and (max-width: 500px) {
    
    .flex-items {
        margin-bottom: 45px;
    }
    
    #lamp {
        width: 55px;
    }
    #int {
        width: 20px;
    }

    
}



