@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
:root {
    --cor-01: #201335;
}

body {
    margin: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.item-01 {
    background: var(--cor-01);
    color: #444b6e;
    font-family: 'Righteous', cursive;
    font-size:3rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-02 {
    background: #4f4789;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter {
    font-family: 'Oswald', sans-serif;
    color: var(--cor-01);
    align-self: start;
    margin-bottom: 0.5rem;

}

.input-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

}

.input-button {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.cadastrar {
    margin-top: 0.5rem;
    width: 50%;
    align-self: center;
}

.input-item input {
    width: 15rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 8px  var(--cor-01);

}

.input-button input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    color: var(--cor-01);
    font-weight: bold;
    box-shadow: 0px 0px 8px  var(--cor-01);
    cursor: pointer;
}

.input-item input:hover {
   background: #eeeeee75;
}

.input-item input:focus-visible {  /*Cria uma borda ao redor do input com as atribuições abaixo */
    outline: 2px solid  var(--cor-01);
}

.input-item input::placeholder {  /*pseudo-elemento representado por :: é uma palavra-chave adicionada a um seletor que permite que você estilize uma parte específica do elemento selecionado*/
    color: #080808be;
}

.login:hover {
    background:  var(--cor-01);
    color: #7a82a7;
}

.cadastrar:hover {
    background: #42b62f;
    color: #fff;
}

.recover {
    margin-top:0.5rem;
}

.recover a {
    text-decoration: none;
    color:   var(--cor-01);
}
 .recover:hover {
    text-decoration: underline;
 }
@media (min-width: 300px) and (max-width: 900px) {
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .item-01 {
        width:100%;
        height: 40vh;
        font-size: 1.5rem;
    }

    .item-02 {
        width:100%;
        height: 60vh;
    }
}