* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

h1 {
    color:#662799;
}

table {
    border: 1px solid #b8b7bb; 

}

td, th {
    padding: 10px;
}

thead {
    background: #662799;
    color: #ffffff;
}

tbody tr:nth-child(even){
    background: #994bda;
    color: #ffffff;
}

tbody tr:nth-child(odd){
    background: #bf80f1;
    color: #ffffff;
}

