@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
    --t-black:#00000036;
    --t-blue: #35E5C0;
    --e-pink: #ed1e79;
    --c-rose: #ffe1f1;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--c-rose);
}

header h1 {
    font-family: 'Chango', cursive;
    font-size: 25px;
    color:#9e1756;
    text-align: center;
}

.container {
    display: flex;
    width: 50%;
    height: 80vh;
    margin-top: auto;
    box-shadow: 1px 1px 5px #02020296;
    border-radius: 10px;
}

.img-pet {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--t-blue);
    border-radius: 10px 0px 0px 10px;
}

.img-pet img {
    width: 250px;
}

.form-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  var(--e-pink);
    border-radius: 0px 10px 10px 0px;
}

.box-input label {
    color: #ffe1f1;
    font-weight: bold;
    font-size: 12px;
}


.box-radio label {
    color: #ffe1f1;
    font-weight: bold;
    font-size: 12px;
}

.box-radio .radio-item {
    font-weight: none;
}

.box-input {
    display: flex;
    flex-direction: column
}

.box-input, .box-radio {
    margin-bottom: 10px;
}

.box-radio {
    display: flex;
    align-items: end;
}


input[type="radio"] {
    -webkit-appearance: none;
    background: #ffe1f1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

input[type="radio"]:checked{
    background: var(--t-blue);
}

.box-input input {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--t-black);
    background: #ffe1f1;
    outline: none;
}

.box-input input:focus-visible {
    border-bottom: solid 2px var(--t-blue);
}

.box-button input {
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px var(--t-black);
    background: #ffd5eb;
    color: var(--e-pink);
    font-weight: bold;
    cursor: pointer;
}

.box-button input:hover {
    background: var(--t-blue);
    color: #b51963;
}

footer {
   margin-top: auto;
   font-size: 13px;
}

footer a {
    text-decoration: none;
    color: var(--e-pink);
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 420px) {

    .container {
    flex-direction: column;
    width: 100%;
    height: auto;
 }

header h1 {
    font-size: 18px
}

 .img-pet {
    width: 100%;
    height: 50vh;
 }

 .form-box,  .img-pet {
    border-radius: 0px;
 }

 .form-box {
    height: 100%;
    width: 100%;
 }

 .img-pet img {
    width: 200px; 
 }

  .box-button input {
    padding: 6px 12px;
  }

  footer {
    position: relative;
    bottom: 37px;
    color: var(--c-rose);
    
  }

  footer a {
    color: var(--t-blue)
  }

}



